@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
  background-image: url("../assets/background.jpg");
  background-size: 100vw 100vh;
  background-repeat: repeat;
}
